{% extends "base.html" %}

{% block content %}
    <h1 class="text-center mb-5">Reception</h1>
    <div class="mb-3 text-center">
        <label for="entry_date" class="form-label text-center">Date:</label>
        <input type="date" id="entry_date" class="text-center" name="entry_date" value="{{ today_date }}" class="form-control date-input">
        <a href="#" id="filter-btn" class="btn btn-primary">Filter</a>
    </div>

    {% if entries %}
        <h2 class=" mb-5">Reception entry:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Citizenship</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for entry in entries %}
                <tr>
                    <td><a href="{{ url_for('profile', user_id=entry.user.id) }}" style="text-decoration: none;">{{ entry.user.id }}</a></td>
                    <td>{{ entry.user.name }}</td>
                    <td>{{ entry.user.surname }}</td>
                    <td>{{ entry.entry_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ entry.entry_time.strftime('%H:%M:%S') }}</td>
                    <td>{{ entry.user.citizenship}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <script>
        document.getElementById('filter-btn').addEventListener('click', function () {
            const selectedDate = document.getElementById('entry_date').value;
            if (selectedDate) {
                window.location.href = `/reception?date=${selectedDate}`;
            } else {
                window.location.href = '/reception';
            }
        });
    </script>
    <style>
        .date-input {
            width: 200px; /* Adjust the width as needed */
        }
    </style>
{% endblock %}
