{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form id="register-form" method="post" enctype="multipart/form-data" class="text-center">
        {{ form.hidden_tag() }}
        <div>
            <video id="kamera-stream" width="640" height="480" autoplay></video>
            <br>
            <button type="button" id="uzmi-sliku" class="btn btn-primary btn-lg mt-4">Take picture</button>
            <br>
            <input type="hidden" id="base64_slika" name="picture">
        </div>

        <div id="slika-container" class="text-center" style="display: none;">
            <p><button type="button" id="refresh-btn" class="btn btn-success btn-lg mt-4 mx-auto">Refresh</button></p>
            <img id="snapshot" width="640" height="480">
        </div>
        
        

        <p><button type="submit" id="submit-btn" class="btn btn-primary btn-lg mt-4">Register</button></p>
    </form>
    <script>
        const kameraStream = document.getElementById('kamera-stream');
        const uzmiSlikuBtn = document.getElementById('uzmi-sliku');
        const base64SlikaInput = document.getElementById('base64_slika');
        const canvas = document.createElement('canvas');
        const context = canvas.getContext('2d');
        const slikaContainer = document.getElementById('slika-container');
        const snapshotImg = document.getElementById('snapshot');
        const refreshBtn = document.getElementById('refresh-btn');
    
        function inicijalizirajKameru() {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    kameraStream.srcObject = stream;
                    kameraStream.play();
                })
                .catch(error => console.error('Greška pri pristupu kameri: ', error));
        }
    
        uzmiSlikuBtn.addEventListener('click', () => {
            kameraStream.pause();
    
            canvas.width = kameraStream.videoWidth;
            canvas.height = kameraStream.videoHeight;
    
            context.drawImage(kameraStream, 0, 0, canvas.width, canvas.height);
    
            const dataURI = canvas.toDataURL('image/jpeg');
    
            base64SlikaInput.value = dataURI;
    
            uzmiSlikuBtn.style.display = 'none';
            refreshBtn.style.display = 'block';
            snapshotImg.src = dataURI;
            slikaContainer.style.display = 'block';
            kameraStream.style.display = 'none';
        });
    
        refreshBtn.addEventListener('click', () => {
            // Refresh the page
            window.location.reload();
        });
    
        window.onload = inicijalizirajKameru;
    </script>
{% endblock %}
